# Ignore .env file
.env

# Ignore all zip files
*.zip

# Node.js dependencies
node_modules/

# Laravel or PHP Logs
storage/logs/
storage/app/

# Composer Dependencies
vendor/

# Ignore all zip files except specific ones
*.zip
!example.zip

# Ignoring testing file in js
public/js/dammytest.js